sudo: false
language: rust
addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
rust:
- nightly
- beta
- stable
- 1.8.0
matrix:
  allow_failures:
  - rust: nightly
before_script:
- |
  pip install 'travis-cargo<0.2' --user &&
  export PATH=$HOME/.local/bin:$PATH
script:
- |
  travis-cargo build &&
  travis-cargo test &&
  travis-cargo bench &&
  travis-cargo --only stable doc
env:
  global:
    - TRAVIS_CARGO_NIGHTLY_FEATURE=""
    - secure: vowmgrd1Bnz0uPNazdqHBFoM+Ek28qDsevGuPj/RDlLh6AWKTvD0fjndTENmh5qCJf1GPIPt0cnKIo48meaSHtzqPFi5YJVz6BPK82zM38nT3J5MYwmb78fzoDDuZoZTA4DTKT+g76XArxxRUCmonQWuCbGbkrqov4HcJwNRBX8=
